---
layout: default
---

<div class="home">

  <p>
     Hello! I am Sebastiaan Dammann and I blog about programming, 3d printing, sysops and other stuff!
  </p>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-list__item">
        <span class="post-meta">{{ post.date | date: "%-d %b %Y" }} <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread" data-disqus-identifier="{{ post.id }}" class="comment-count"></a></span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
		
		<div class="excerpt">
      {% if post.image %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-cover"><img src="{{ post.image | resize: "300x200" }}" alt="{{ post.title | xml_escape }}"></a>
      {% endif %}

			{{ post.excerpt }}
			
			<p class="read-more-link">
				<a href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
			</p>
		</div>
      </li>
    {% endfor %}
  </ul>
</div>
